NodeRED-Photon-TempMonitoring.json
[{"id":"b6bcbc03.65ec4","type":"tab","label":"Photon Temperature Flow","disabled":false,"info":""},{"id":"b7d9d04.488f63","type":"particle-SSE","z":"b6bcbc03.65ec4","pcloud":"","subscribetype":"devid","devprodslug":"Michelle_photon","devid":"","evtname":"temperature_reading","strict":0,"x":610,"y":360,"wires":[["87b630ae.88781","c8f13635.867538","b41b8f27.52f52"]]},{"id":"87b630ae.88781","type":"debug","z":"b6bcbc03.65ec4","name":"Incoming Data","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":640,"y":300,"wires":[]},{"id":"154a32ad.fd256d","type":"switch","z":"b6bcbc03.65ec4","name":"temp thresh","property":"payload","propertyType":"msg","rules":[{"t":"btwn","v":"20","vt":"num","v2":"25","v2t":"num"},{"t":"gt","v":"30","vt":"num"},{"t":"lt","v":"25","vt":"num"}],"checkall":"true","repair":false,"outputs":3,"x":1370,"y":480,"wires":[["b94cbe16.703dc"],["8ee29a46.399f08"],["2f3ccdfc.497292"]]},{"id":"b94cbe16.703dc","type":"template","z":"b6bcbc03.65ec4","name":"safe","field":"payload","fieldType":"msg","syntax":"mustache","template":"Temperature within safe limits","x":1530,"y":440,"wires":[["a9acf0f7.a3f13","dde992a5.0be7d"]]},{"id":"8ee29a46.399f08","type":"template","z":"b6bcbc03.65ec4","name":"danger","field":"payload","fieldType":"msg","syntax":"mustache","template":"Temperature critically high!","x":1540,"y":480,"wires":[["a9acf0f7.a3f13","dde992a5.0be7d"]]},{"id":"1ef26fec.3e80f","type":"cloudant out","z":"b6bcbc03.65ec4","name":"sensordata","cloudant":"","database":"sensordata","service":"SensorData-cloudantNoSQLDB","payonly":false,"operation":"insert","x":1270,"y":180,"wires":[]},{"id":"f2ebfb46.1b53a8","type":"debug","z":"b6bcbc03.65ec4","name":"Display Temperature Reading","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":1290,"y":360,"wires":[]},{"id":"6b2e9123.300a8","type":"ui_chart","z":"b6bcbc03.65ec4","name":"Temperature Data","group":"588c1a22.34d654","order":1,"width":"0","height":"0","label":"Temperature Data from Incubator","chartType":"line","legend":"true","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1250,"y":320,"wires":[[]]},{"id":"a62bdab8.9b5bc8","type":"ui_gauge","z":"b6bcbc03.65ec4","name":"Current Temperature","group":"e6e7b665.eca4b8","order":1,"width":"0","height":"0","gtype":"gage","title":"Current Temperature","label":"Celsius","format":"{{value}}","min":"20","max":"28","colors":["#ff0000","#00ff00","#ff0000"],"seg1":"","seg2":"","x":1260,"y":280,"wires":[]},{"id":"ad3e0878.411908","type":"comment","z":"b6bcbc03.65ec4","name":"Database Storage","info":"Data to Database (should be connceted to Photon node)","x":1090,"y":140,"wires":[]},{"id":"a9acf0f7.a3f13","type":"debug","z":"b6bcbc03.65ec4","name":"Status","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":1790,"y":480,"wires":[]},{"id":"b41b8f27.52f52","type":"delay","z":"b6bcbc03.65ec4","name":"Database logging every 8 hours","pauseType":"delay","timeout":"8","timeoutUnits":"hours","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1030,"y":180,"wires":[["1ef26fec.3e80f"]]},{"id":"c8f13635.867538","type":"function","z":"b6bcbc03.65ec4","name":"Temperature","func":"return{topic: \"Temperature Data\", payload: parseFloat(msg.payload.data)};","outputs":1,"noerr":0,"x":950,"y":360,"wires":[["a62bdab8.9b5bc8","6b2e9123.300a8","f2ebfb46.1b53a8","154a32ad.fd256d","51fcd78.d37b228","c78d2776.6f31c8","5df4253d.f1e83c"]]},{"id":"2f3ccdfc.497292","type":"template","z":"b6bcbc03.65ec4","name":"danger","field":"payload","fieldType":"msg","syntax":"mustache","template":"Temperature critically low!","x":1540,"y":520,"wires":[["a9acf0f7.a3f13","dde992a5.0be7d"]]},{"id":"2d1710f3.f45d9","type":"ifttt trigger","z":"b6bcbc03.65ec4","url":"","name":"","method":"POST","ret":"txt","event":"email","secretkey":"h7gDxDCTMmedY2MbKFRy9aI8TU5oNTyyzrimihdva9x","val1":"","val2":"","val3":"","x":1970,"y":580,"wires":[[]]},{"id":"51fcd78.d37b228","type":"function","z":"b6bcbc03.65ec4","name":"Email Trigger High","func":"var msg1 = {};\n\nif (msg.payload >= 25) {\n    msg1 = {payload:{\"value1\":\"Temperature of Incubator 001\", \"value2\":msg.payload, \"value3\":\" is critically high!\"}};\n    return msg1;\n}\n","outputs":1,"noerr":0,"x":1570,"y":580,"wires":[["a587639.6e21ea"]]},{"id":"c78d2776.6f31c8","type":"function","z":"b6bcbc03.65ec4","name":"Email Trigger Low","func":"var msg2 = {};\n\nif (msg.payload <= 18) {\n    msg2 = {payload:{\"value1\":\"Temperature of Incubator 001\", \"value2\":msg.payload, \"value3\":\" is critically low!\"}};\n    return msg2;\n}","outputs":1,"noerr":0,"x":1550,"y":620,"wires":[["38443757.e09268"]]},{"id":"4419bc3c.7e2ed4","type":"ifttt trigger","z":"b6bcbc03.65ec4","url":"","name":"","method":"POST","ret":"txt","event":"email","secretkey":"h7gDxDCTMmedY2MbKFRy9aI8TU5oNTyyzrimihdva9x","val1":"","val2":"","val3":"","x":1970,"y":620,"wires":[[]]},{"id":"dde992a5.0be7d","type":"ui_text","z":"b6bcbc03.65ec4","group":"e6e7b665.eca4b8","order":0,"width":0,"height":0,"name":"","label":"Stauts:","format":"{{msg.payload}}","layout":"col-center","x":1800,"y":440,"wires":[]},{"id":"8ce433b3.ce007","type":"comment","z":"b6bcbc03.65ec4","name":"Alerts","info":"","x":1630,"y":380,"wires":[]},{"id":"1c0bf02a.f854b","type":"smooth","z":"b6bcbc03.65ec4","name":"Standard Deviation","property":"payload","action":"sd","count":"20","round":"3","mult":"single","reduce":false,"x":590,"y":580,"wires":[["d8c112bf.42b93"]]},{"id":"d8c112bf.42b93","type":"debug","z":"b6bcbc03.65ec4","name":"StdDev","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":800,"y":580,"wires":[]},{"id":"b0700d29.1331c","type":"comment","z":"b6bcbc03.65ec4","name":"Statistics","info":"","x":380,"y":540,"wires":[]},{"id":"f2a5a1be.4a05c","type":"smooth","z":"b6bcbc03.65ec4","name":"Mean","property":"payload","action":"mean","count":"100","round":"3","mult":"single","reduce":false,"x":550,"y":640,"wires":[["f7ecac29.c58a6","9ef5eec.6d7661"]]},{"id":"9b4bb64e.46bed8","type":"inject","z":"b6bcbc03.65ec4","name":"Clear","topic":"msg.reset","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":370,"y":660,"wires":[["a1f7fd34.571fa"]]},{"id":"a1f7fd34.571fa","type":"function","z":"b6bcbc03.65ec4","name":"Clear Statistics","func":"msg.payload = {payload: reset};\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":600,"wires":[["1c0bf02a.f854b","f2a5a1be.4a05c"]]},{"id":"2d91ae9a.9d1562","type":"function","z":"b6bcbc03.65ec4","name":"Set Temperature","func":"return{topic: \"Set Temperature\", payload: parseFloat(msg.payload.data)};","outputs":1,"noerr":0,"x":1020,"y":460,"wires":[["6b2e9123.300a8"]]},{"id":"fe125d15.610b1","type":"particle-SSE","z":"b6bcbc03.65ec4","pcloud":"","subscribetype":"devid","devprodslug":"Michelle_photon","devid":"","evtname":"set-temperature","strict":0,"x":600,"y":420,"wires":[["2d91ae9a.9d1562"]]},{"id":"f7ecac29.c58a6","type":"debug","z":"b6bcbc03.65ec4","name":"Mean","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":810,"y":640,"wires":[]},{"id":"9ef5eec.6d7661","type":"function","z":"b6bcbc03.65ec4","name":"Percent Error","func":"var mean = msg.payload;\n//error vlaue of sensor is 0.6\nvar correctedMean = (0.6 / mean)*100;\nreturn{payload: parseFloat(correctedMean.toFixed(3))};\n","outputs":1,"noerr":0,"x":510,"y":840,"wires":[["684828d4.3a1058","82883044.20bd1","3473a010.56b18"]]},{"id":"2c4825fe.0c177a","type":"function","z":"b6bcbc03.65ec4","name":"Clear Line Chart","func":"msg.payload = [];\nreturn msg;","outputs":1,"noerr":0,"x":1140,"y":520,"wires":[["6b2e9123.300a8"]]},{"id":"245e54cf.36c08c","type":"inject","z":"b6bcbc03.65ec4","name":"Clear","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":970,"y":520,"wires":[["2c4825fe.0c177a"]]},{"id":"684828d4.3a1058","type":"debug","z":"b6bcbc03.65ec4","name":"Percent Error","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":730,"y":840,"wires":[]},{"id":"29ddfd6.4a9a502","type":"comment","z":"b6bcbc03.65ec4","name":"Dashboard Temperature Visuals","info":"","x":1010,"y":300,"wires":[]},{"id":"5df4253d.f1e83c","type":"delay","z":"b6bcbc03.65ec4","name":"Stat delay 24 hours","pauseType":"delay","timeout":"1","timeoutUnits":"days","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":590,"y":520,"wires":[["1c0bf02a.f854b","f2a5a1be.4a05c"]]},{"id":"49a5eb4a.9105f4","type":"comment","z":"b6bcbc03.65ec4","name":"Sensor Health","info":"","x":630,"y":800,"wires":[]},{"id":"82883044.20bd1","type":"switch","z":"b6bcbc03.65ec4","name":"Sensor Health","property":"payload","propertyType":"msg","rules":[{"t":"btwn","v":"0","vt":"num","v2":"3","v2t":"num"},{"t":"btwn","v":"3","vt":"num","v2":"5","v2t":"num"},{"t":"gte","v":"5","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":520,"y":940,"wires":[["fede6250.e7491"],["161ba474.8c00ec"],["781912f2.fd74ec"]]},{"id":"fede6250.e7491","type":"template","z":"b6bcbc03.65ec4","name":"Healthy","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Healthy","output":"str","x":720,"y":900,"wires":[["39d39a03.9012b6"]]},{"id":"161ba474.8c00ec","type":"template","z":"b6bcbc03.65ec4","name":"Moderate","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Moderate","output":"str","x":720,"y":940,"wires":[["39d39a03.9012b6"]]},{"id":"781912f2.fd74ec","type":"template","z":"b6bcbc03.65ec4","name":"Needs replacing","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Needs replacing","output":"str","x":740,"y":980,"wires":[["39d39a03.9012b6"]]},{"id":"3473a010.56b18","type":"ui_gauge","z":"b6bcbc03.65ec4","name":"","group":"d8cd4191.e3018","order":0,"width":0,"height":0,"gtype":"gage","title":"Sensor Health","label":"","format":"{{value}}","min":0,"max":"5","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":940,"y":900,"wires":[]},{"id":"39d39a03.9012b6","type":"ui_text","z":"b6bcbc03.65ec4","group":"d8cd4191.e3018","order":0,"width":0,"height":0,"name":"Sensor Health","label":"Stauts:","format":"{{msg.payload}}","layout":"col-center","x":935,"y":961.25,"wires":[]},{"id":"97d477c6.8c6b78","type":"comment","z":"b6bcbc03.65ec4","name":"Regression","info":"","x":1340,"y":720,"wires":[]},{"id":"79e81aaa.398f24","type":"inject","z":"b6bcbc03.65ec4","name":"Inject regression every week","topic":"","payload":"","payloadType":"date","repeat":"604800","crontab":"","once":false,"onceDelay":0.1,"x":1010,"y":740,"wires":[["528b2fd.8704fd"]]},{"id":"1fbb0fba.4daed","type":"function","z":"b6bcbc03.65ec4","name":"Get temp and time from database","func":"var dataStorage = [];\nvar i;\nvar myData;\nvar millisecondInADay = Math.pow(8.64, 7);\n\nfor (i = 0; i < msg.payload.length; i++) {\n    if ((msg.payload[i]._id.includes('sensordata'))===false) {\n      myData = parseFloat(msg.payload[i].payload.data); \n      var time = new Date(msg.payload[i].payload.published_at);\n      time = (time.getTime() / millisecondInADay);\n      var both = [myData, time];\n      dataStorage.push(both);\n      \n    }\n}   \n\n    \nmsg.payload = dataStorage;\nreturn msg;\n\n","outputs":1,"noerr":0,"x":1200,"y":800,"wires":[["271e1c07.c46864"]]},{"id":"271e1c07.c46864","type":"function","z":"b6bcbc03.65ec4","name":"Linear Regression","func":"var i;\nvar xi =0;\nvar yi =0;\nvar xi2 =0;\nvar xyi =0;\nvar len = msg.payload.length;\nvar ssx = 0;\nvar ssy = 0;\nvar ssxy = 0;\n\nfor(i = 0; i < msg.payload.length; i++) {\n    var x = msg.payload[i][1];\n    var y = msg.payload[i][0];\n    xi += x;\n    yi += y;\n    xi2 += x*x;\n    xyi += x*y;\n}\n\nfor(i = 0; i < msg.payload.length; i++) {\n    var x2 = msg.payload[i][1];\n    var y2 = msg.payload[i][0];\n    ssx += (x2 - xi/len)*(x2 - xi/len);\n    ssy += (y2 - yi/len)*(y2 - yi/len);\n    ssxy += (x2 - xi/len)*(y2 - yi/len);\n}    \nvar a = (yi*xi2-xi*xyi)/(len*xi2-xi*xi);\nvar b = (len*xyi-xi*yi)/(len*xi2-xi*xi);\nvar r2 = (ssxy*ssxy)/(ssx*ssy);\n\n//msg.payload = [b,a,r2];\nmsg.payload = {slope: b, yInt: a, r2: r2}\nreturn msg;","outputs":1,"noerr":0,"x":1210,"y":860,"wires":[["445e6f72.c3b0d","b4fe60b7.9fe98","cbf4aca3.3430a"]]},{"id":"445e6f72.c3b0d","type":"template","z":"b6bcbc03.65ec4","name":"Show equation","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"The regression equation is: y = {{payload.slope}}x + {{payload.yInt}}\nThe R2 value is: {{payload.r2}}","output":"str","x":1280,"y":920,"wires":[["3e9a3abc.7656b6"]]},{"id":"3e9a3abc.7656b6","type":"debug","z":"b6bcbc03.65ec4","name":"Regression Equation","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1480,"y":920,"wires":[]},{"id":"fa9a0ba.444f9f8","type":"function","z":"b6bcbc03.65ec4","name":"Fix the date","func":"var millisecondInADay = Math.pow(8.64, 7);\nvar utcMilliseconds = millisecondInADay * msg.payload.days;\n\nvar d = new Date(utcMilliseconds);\n\nmsg.payload = {prediction: d};\nreturn msg;","outputs":1,"noerr":0,"x":1690,"y":860,"wires":[["4be5c353.e8417c","1e07d172.eed85f"]]},{"id":"4be5c353.e8417c","type":"debug","z":"b6bcbc03.65ec4","name":"Display prediction","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1730,"y":920,"wires":[]},{"id":"cbf4aca3.3430a","type":"function","z":"b6bcbc03.65ec4","name":"Output a prediction","func":"var prediction;\n\nif (msg.payload.slope > 0) {\n    //max acceptable temperature\n    prediction = (26 - msg.payload.yInt)/msg.payload.slope;\n    msg.payload = {days: prediction};\n    return msg;\n} else {\n    //min acceptable temperature\n    prediction = (18 - msg.payload.yInt)/msg.payload.slope;\n    msg.payload = {days: prediction};\n    return msg;\n}\n\n","outputs":1,"noerr":0,"x":1490,"y":860,"wires":[["fa9a0ba.444f9f8"]]},{"id":"1e07d172.eed85f","type":"template","z":"b6bcbc03.65ec4","name":"Prediction","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Your machine will need maintenance on: {{payload.prediction}}\n","output":"str","x":1860,"y":860,"wires":[["669b03e4.8a4a4c"]]},{"id":"669b03e4.8a4a4c","type":"ui_text","z":"b6bcbc03.65ec4","group":"eaa044b4.c5e3c8","order":1,"width":"6","height":"3","name":"Prediction","label":"","format":"{{msg.payload}}","layout":"col-center","x":2020,"y":860,"wires":[]},{"id":"b4fe60b7.9fe98","type":"function","z":"b6bcbc03.65ec4","name":"Temp prediction in one month","func":"var slope = msg.payload.slope;\nvar yInt = msg.payload.yInt;\nvar millisecondInADay = Math.pow(8.64, 7);\nvar x = (new Date().getTime())/millisecondInADay;\n\n\nvar y = (slope*(x + 30)) + yInt;\n\nreturn{topic: \"in one month\", payload: y};","outputs":1,"noerr":0,"x":1570,"y":800,"wires":[["1574305a.70a4a","2bfb12a2.b9b34e"]]},{"id":"1574305a.70a4a","type":"debug","z":"b6bcbc03.65ec4","name":"Temp prediction in one month","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1650,"y":740,"wires":[]},{"id":"2bfb12a2.b9b34e","type":"ui_chart","z":"b6bcbc03.65ec4","name":"","group":"eaa044b4.c5e3c8","order":1,"width":"0","height":"0","label":"Regression Function","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#ff8000","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1980,"y":800,"wires":[[]]},{"id":"38443757.e09268","type":"delay","z":"b6bcbc03.65ec4","name":"","pauseType":"queue","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"hour","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1770,"y":620,"wires":[["4419bc3c.7e2ed4"]]},{"id":"16b1e11f.f243bf","type":"function","z":"b6bcbc03.65ec4","name":"Clear Line Chart","func":"msg.payload = [];\nreturn msg;","outputs":1,"noerr":0,"x":2080,"y":740,"wires":[["2bfb12a2.b9b34e"]]},{"id":"2b92c40a.81e4ec","type":"inject","z":"b6bcbc03.65ec4","name":"Clear","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1910,"y":740,"wires":[["16b1e11f.f243bf"]]},{"id":"528b2fd.8704fd","type":"cloudant in","z":"b6bcbc03.65ec4","name":"","cloudant":"","database":"sensordata","service":"SensorData-cloudantNoSQLDB","search":"_all_","design":"","index":"","x":950,"y":800,"wires":[["1fbb0fba.4daed"]]},{"id":"a587639.6e21ea","type":"delay","z":"b6bcbc03.65ec4","name":"","pauseType":"queue","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"hour","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1770,"y":580,"wires":[["2d1710f3.f45d9"]]},{"id":"588c1a22.34d654","type":"ui_group","z":"","name":"Temperature Sensor Data","tab":"72da592c.299d38","disp":true,"width":"6","collapse":false},{"id":"e6e7b665.eca4b8","type":"ui_group","z":"","name":"Current Temperature","tab":"72da592c.299d38","disp":true,"width":"6","collapse":false},{"id":"d8cd4191.e3018","type":"ui_group","z":"","name":"Sensor Health","tab":"72da592c.299d38","disp":true,"width":"6","collapse":true},{"id":"eaa044b4.c5e3c8","type":"ui_group","z":"","name":"Maintenance","tab":"72da592c.299d38","disp":true,"width":"6","collapse":true},{"id":"72da592c.299d38","type":"ui_tab","z":"","name":"Incubator 001","icon":"dashboard","disabled":false,"hidden":false}]